In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
total = data.shape[0]

In [5]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [6]:
data['Survived'].sum() / total * 100

38.38383838383838

In [7]:
data['Pclass'].value_counts().get(1) / total * 100

24.242424242424242

In [8]:
data['Age'].dropna().mean(), data['Age'].dropna().median()

(29.69911764705882, 28.0)

In [9]:
d = data[['SibSp', 'Parch']]
d.corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [10]:
d = data[data['Sex'] == 'female']['Name']

In [11]:
def get_full_name(name):
    full_name = name.split('.')[-1]
    if "(" in full_name and ")" in full_name:
        start, end = full_name.find("("), full_name.find(")")
        return full_name[start+1:end]
    return full_name

def normalize_name(name):
    full_name = get_full_name(name)
    first_name = full_name.split()[0]
    return first_name

In [19]:
d.map(normalize_name).value_counts()

Anna         15
Mary         14
Margaret     10
Elizabeth    10
Alice         6
Bertha        5
Helen         5
Marie         4
Augusta       4
Catherine     4
Marion        4
Emily         4
Ellen         4
Maria         4
Florence      4
Ada           4
Annie         4
Katherine     3
Ida           3
Elisabeth     3
"Mrs          3
Hanora        3
Amelia        3
Madeleine     3
Edith         3
Lillian       3
Jane          3
Kate          2
Clara         2
Helene        2
             ..
Sallie        1
Emelia        1
Eliza         1
Cordelia      1
Vera          1
Latifa        1
Kornelia      1
Phyllis       1
Eliina        1
Josefine      1
Joan          1
Wendla        1
Julie         1
Ebba          1
Barrett)      1
Eva           1
Irene         1
Stella        1
Eleanor       1
Margit        1
Aloisia       1
Matilda       1
Mara          1
Brigdet       1
Banoura       1
Nora          1
Albina        1
Helena        1
Harriet       1
Bessie        1
Name: Name, dtype: int64

In [13]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [14]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S